<footer>
    <div class="footer-content">
        <div class="footer-mails">
            Contacts: 
            <p class="mail-address"><a href="mailto:example@example.com" class="mail-address">example@example.com</a></p>
            <p class="mail-address"><a href="mailto:example@example.com" class="mail-address">example@example.com</a></p>
            <hr>
        </div>
        <div class="footer-copyright">
            &copy; 2021-27-01 &laquo;<a href="#">Sherlock LTD.</a>&raquo;
            <h3>Delivery</h3>
            <p>&#128222; <a href="tel:+0 (000) 000-00-00"> +0 (000) 000-00-00 </a></p>
        </div>
    </div>
  </footer>