<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/head.ejs") %>
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <div class="container">
            <form class="auth-form" method="POST">
                <h1>Restore your Password</h1>
                <label for="email">Email:</label><input class="auth-form__input" type="text" name="email" />
                <br />
                <input type="submit" class="button-default-s" value="Restore" />
            </form>
            <br>
            <a href="login" style="margin-left: 25%;">Previous page</a> <br><br>
        </div>
        <%- include("partials/footer.ejs") %>
    </body>
</html>